
.header-wrapper .grid .item h1 {
  font-family: "Rosario";
  font-weight: 400;
  font-size: 48px;
  align-items: center;
  color: #374b73;
}
img.logo_img{
  height: 100px;
  width: auto;
}
img.notification_img{
  height: 35px;
  width: auto;
}
img.login{
  height: 35px;
  width: auto;
}
img.theme{
  height: 35px;
  width: auto;
}
img.menu_img{
  height: 35px;
  width: auto;
}
.header-wrapper .grid {
  display: grid;
  grid-template-columns: 70px 1fr 11fr repeat(5, 1fr);
  justify-content: center;
  align-content: center;
  grid-gap: 10px;
}
.header-wrapper {
  padding-left: 30px;
  padding-right: 30px;
}
.header-wrapper .grid .item {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
input[type=text]{
  border-radius: 4px;
  font-size: 16px;
  height: 50px;
  background: rgba(252, 252, 252, 0.63);
  mix-blend-mode: darken;
  max-width: 900px;
  /* Fuschia/60 */

  border: 1px solid #FCDDEC;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 50vw;
  background-image: url('../Images/Icons/search.png');
  background-repeat: no-repeat;
  padding-left: 60px;
  padding-right: 40px;
}
.header-input-phone{
  display: none;
}
.language_change{
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
}
.searchContainer{
  position: absolute;
  z-index: 20;
  background: #FFFCFC;
  border-radius: 20px;
  width: 50vw;
  max-width: 900px;
}
.searchContainer .searchMaterial{
  display: flex;
  align-items: center;
  height: 50px;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding-left: 60px;
}
@media only screen and (max-width: 1111px){
  .header-input-web{
    display: none;
  }
  .header-input-phone{
    display:block;
  }
  .header-input-phone input[type=text]{
    width: 100%;
    max-width: 100%;
  }
  .searchContainer{
    width: 100%;
    max-width: 100%;
  }
  .searchContainer .searchMaterial{
    font-size: 17px;
  }
  img.logo_img{
    height: 58px;
    width: auto;
  }
  img.notification_img{
    height: 35px;
    width: auto;
  }
  img.login{
    height: 43px;
    width: auto;
  }
  img.theme{
    height: 40px;
    width: auto;
  }
  .language_change{
    font-size: 30px;
  }
  img.menu_img{
    height: 40px;
    width: auto;
  }
  .header-wrapper .grid .item h1 {
    font-family: "Rosario";
    font-weight: 400;
    font-size: 28px;
    align-items: center;
    color: #374b73;
  }
  .header-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
  .header-wrapper .grid {
    display: grid;
    grid-template-columns: 50px 1fr 11fr repeat(5, 1fr);
    justify-content: center;
    align-content: center;
    grid-gap: 2px;
  }
}
@media only screen and (max-width: 412px){
  img.logo_img{
    height: 40px;
    width: auto;
  }
  img.notification_img{
    height: 23px;
    width: auto;
  }
  img.login{
    height: 25px;
    width: auto;
  }
  img.theme{
    height: 25px;
    width: auto;
  }
  .language_change{
    font-size: 20px;
  }
  img.menu_img{
    height: 25px;
    width: auto;
  }
  .header-wrapper .grid .item h1 {
    font-size: 20px;
  }
  .header-wrapper .grid {
    grid-template-columns: 30px 1fr 11fr repeat(5, 1fr);
  }
  input[type=text]{
    border-radius: 4px;
    font-size: 13px;
    height: 40px;
    background: rgba(252, 252, 252, 0.63);
    mix-blend-mode: darken;
    /* Fuschia/60 */
  
    border: 1px solid #FCDDEC;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 34vw;
    background-image: url('../Images/Icons/search.png');
    background-repeat: no-repeat;
    background-size: 40px;
    padding-left: 30px;
    padding-right: 10px;
  }
}
